
<h1>Species Name: <%= @wildlife.species_name %></h1>
<p>Population: <%= @wildlife.population_status %></p>
<p>Habitat of the Species: <%= @wildlife.habitat %></p>

<h2>Park:</h2>
<p><%= link_to @park.name, park_path(@park)  %></p>

