<h1>Visitor Year: <%= @visitor.year %></h1>
<p>Total Visitors in the Year: <%= @visitor.total_visitors %></p>
<p>Total Camping Visitors in the Year: <%= @visitor.camping_visitors %></p>

<h2>Park:</h2>

<p><%= link_to @park.name, park_path(@park) %></p>
