<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facility Details</title>
</head>
<body>
  <h1>Facility Name: <%= @facility.name %></h1>
  <h2>Park:</h2>
  <p><%= link_to @parks.name, park_path(@parks) %></p>
</body>
</html>
