<!DOCTYPE html>
<html>
<head>
    <title>National Wildlife Parks</title>
    <%= stylesheet_link_tag 'index' %>
</head>
<body>
    <header>
        <h1>Welcome to National Wildlife Parks</h1>
    </header>
    <main>
        <h2>Explore the Beauty of Nature</h2>
        <p>Discover our national parks unique animals and stunning scenery. From the lush wetlands of the Everglades to the breathtaking mountains of Yosemite, there is something to enjoy for everyone. Numerous activities, such as hiking, camping, seeing wildlife, and more, are available in our parks. Begin organizing your journey now!</p>

    <footer>
        <p>&copy; 2023 National Wildlife Parks. All rights reserved.</p>
    </footer>
</body>
</html>