
/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    margin-top: 20px;
}

header {
    margin-top: 10px;
    background-color: #0a6e3d;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #fff;
}

main {
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color:#0a6e3d;
}

p {
   text-align: center;
   font-size: large;
   font: bold;
    margin-bottom: 20px;
    color: #333;
}

footer {
    margin-top: 300px;
    background-color: #a9adad;
    padding: 0px;
    text-align: center;
    color: #f6e7e7;
}

/* Responsive styles */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}